{% extends 'base.html.twig' %}

{% block title %}new recipe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/recipe-form.css') }}">
{% endblock %}
{% block body %}


    <div class="title-color title">
        <h1>fakt cool titulek</h1>
    </div>
    <div style="background: #d9d9d1">
        <div class="example-wrapper content-blok">
        </div>
    </div>

{% endblock %}
